<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <meta charset="utf-8" />
    <base href="/">
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="webjars/font-awesome/5.14.0/css/all.css" type="text/css">
    <script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/vis/vis.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/vis/vis.min.css">
    <script type="text/javascript" src="../static/vis/vis.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <script type="text/javascript" src="../static/js/resultados.js"></script>
    <link href="../static/css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/signin.css" rel="stylesheet">
    <link href="../static/css/select2.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../static/js/select2.min.js"></script>
</head>
</html>
