<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="menu">
    <a class="navbar-brand" href="#">Plataforma Semántica UTPL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('USER')">
                <a class="nav-link" href="/proyectos">Mis proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/estadisticas">Estadísticas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/repositorio">Repositorio</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" href="/admin">Administrar</a>
            </li>
            <!--<li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/nosotros">Nosotros</a>
            </li>-->
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/proyectos"><span class="fas fa-sign-in-alt"></span> Iniciar sesión</a>
            </li>
            <li class="dropdown m-0 p-0" sec:authorize="isAuthenticated()">
                <a class="btn btn-secondary dropdown-toggle"
                   href="/#" role="button" id="dropdownMenuButton" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span id="user" class="fas fa-user" th:inline="text"> [[${#httpServletRequest.remoteUser}]]</span></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/proyectos">Mis proyectos</a>
                    <a class="dropdown-item" th:href="@{'/usuario/' + ${#httpServletRequest.remoteUser}}">Mi perfil</a>
                    <form th:action="@{/logout}" method="post">
                        <button class="dropdown-item" type="submit">Cerrar sesión</button>
                    </form>
                </div>
            </li>
        </ul>
        <ul>

        </ul>
        <!--
        <ul class="navbar-nav justify-content-end" sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link" href="/logout" th:inline="text">[[${#httpServletRequest.remoteUser}]] <span class="fas fa-sign-out-alt"></span> Salir</a>
            </li>
        </ul>-->
    </div>
</nav>
</body>
</html>
