<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: header">
</head>
<body>
<nav th:insert="fragments/menu :: menu">
</nav>
<p style="display: none" id="json" th:text="${appName}"></p>
<p style="display: none" id="jsonpersona" th:text="${personas}"></p>
<div class="container" id="divtitulo">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
            <h3 id="titulo"></h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-xl-3 col-lg-3">
            <p><b>Tipo de Proyecto</b></p>
            <p><span id="tipo_proyecto"></span></p>
            <p><b>Áreas involucradas</b></p>
            <p><span id="areas"></span></p>
            <p><b>Coordinador(es)</b><br><span id="coordinador"></span></p>
            <p><b>Participante(s)</b><br><span id="participante"></span></p>
            <p id="ejecucion"><b>Período académico de ejecución </b><br><span id="inicio"><b>Fecha inicio: </b></span>
                <br><span id="fin"><b>Fecha fin: </b></span></p>
            <p id="reprogramado"><b>Proyecto reprogramado </b><br></p>
            <p id="avance"><b>Avance </b><br></p>
            <p id="estado"><b>Estado </b><br></p>
            <p id="programa"><b>Programa </b><br></p>
            <p id="recursos"><b>Recursos </b><br></p>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-xl-9 col-lg-9">
            <p id="descripcion"><b>Descripción </b><br></p>
            <p id="objetivo"><b>Objetivos </b><br></p>
            <div class="card">
                <div class="card-body" th:style="${tamanio}">
                    <div class="container">
                        <div class="row" th:each="lista : ${comentarios}">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-xl-2 col-lg-2">
                                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid mx-auto d-block" width="45" height="45"/>
                                <p class="text-secondary text-center small" th:text="${lista.comentario.fecha}"></p>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-xl-10 col-lg-10">
                                <div class="border border-white rounded bg-light p-1">
                                    <p th:text="${lista.comentario.idCom}" style="display:none;"></p>
                                    <p>
                                        <a class="float-left"><strong th:text="${lista.comentario.nombre}" style="font-weight: bolder;color: #4f81bd"></strong></a>
                                    </p>
                                    <div class="clearfix"></div>
                                    <p th:text="${lista.comentario.comentarios}"></p>
                                </div>
                                <div>
                                        <a class="float-right btn btn-outline-primary btn-sm ml-2 mb-1 mt-1" data-toggle="modal" data-target="#exampleModal"
                                           th:attr="onclick='inicializarFormulario(\'' + ${lista.comentario.idCom}+'\')'"> <i class="fa fa-reply"></i><span class="responder"></span> Responder</a>
                                        <!--<a class="float-right btn text-white btn-secondary"> <i class="fa fa-heart"></i> <span class="like">0</span> Me gusta</a>-->
                                </div>
                            </div>
                            <div class="container">
                                <div class="row" th:each="comen : ${lista.listaComentario}">
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1 col-lg-1">
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-xl-2 col-lg-2">
                                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid mx-auto d-block" width="45" height="45"/>
                                        <p class="text-secondary text-center small" th:text="${comen.fecha}"></p>
                                    </div>
                                    <div class="col-xs-9 col-sm-9 col-md-9 col-xl-9 col-lg-9 border border-white rounded bg-light p-1">
                                        <p th:text="${comen.idCom}" style="display:none;"></p>
                                        <p>
                                            <a class="float-left"><strong th:text="${comen.nombre}" style="font-weight: bolder;color: #4f81bd"></strong></a>
                                        </p>
                                        <div class="clearfix"></div>
                                        <p th:text="${comen.comentarios}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5>Deja tu comentario</h5>
                    <form action="#" th:action="@{/comentario}" method="post" th:object="${coment}">
                        <div class="form-group" style="display: none">
                            <input type="text" class="form-control" id="idCom" th:field="*{idCom}" name="idCom">
                        </div>
                        <div class="form-group">
                            <label for="InputEmail1">Correo electrónico</label>
                            <input type="email" class="form-control" id="InputEmail1" required aria-describedby="emailHelp" placeholder="Escribe tu correo" th:field="*{correo}">
                        </div>
                        <div class="form-group">
                            <label for="InputName">Nombre</label>
                            <input type="text" class="form-control" required id="InputName" aria-describedby="emailHelp" placeholder="Escribe tu nombre o anónimo" th:field="*{nombre}">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" required id="FormControlTextarea" rows="3" placeholder="Escribe tu comentario ..." th:field="*{comentarios}"></textarea>
                        </div>
                        <button type="submit" class="float-right btn btn-danger">Enviar</button>
                    </form>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Responder comentario</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="#" th:action="@{/comentarioresponse}" method="post" th:object="${comentario}">
                                        <div class="form-group" style="display: none">
                                            <input type="text" class="form-control" id="idCom1" th:field="*{idCom}" name="idCom1">
                                        </div>
                                        <div class="form-group">
                                            <label for="InputEmail1">Correo electrónico</label>
                                            <input type="email" class="form-control" id="InputEmail11" required aria-describedby="emailHelp" placeholder="Escribe tu correo" th:field="*{correo}">
                                        </div>
                                        <div class="form-group">
                                            <label for="InputName">Nombre</label>
                                            <input type="text" class="form-control" required id="InputName1" aria-describedby="emailHelp" placeholder="Escribe tu nombre o anónimo" th:field="*{nombre}">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" required id="FormControlTextarea1" rows="3" placeholder="Escribe tu comentario ..." th:field="*{comentarios}"></textarea>
                                        </div>
                                        <button type="submit" class="float-right btn btn-danger">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer">
</footer>
</body>
</html>
