<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: header">
    <meta charset="UTF-8">
    <title>Estadísticas</title>
</head>
<body>
<script>
    $(document).ready(function() {
        var backgroundColor = ['#1ABC9C','#2ECC71','#9B59B6','#3498DB','#F1C40F','#E74C3C','#E67E22','#FB3CCF','#11C9C1','#36C869','#F72A71'];
        var borderColor = ['#307D74','#269A56','#754086','#3C7DA8','#BD9C1E','#B1392D','#AA5F1F','#A73B90','#0EB0A9','#0EB046','#C22C60'];
        var acumulador = 0, acumulador1 = 0, acumulador2 = 0, acumulador3 = 0, acumulador4 = 0, acumulador5 = 0, acumulador6 = 0
            , acumulador7 = 0, acumulador8 = 0, acumulador9 = 0;
        var tipo = JSON.parse(document.getElementById('listaproyectos').innerHTML);
        var area = JSON.parse(document.getElementById('listaareas').innerHTML);
        var estado = JSON.parse(document.getElementById('listaestado').innerHTML);
        var cobertura = JSON.parse(document.getElementById('listacobertura').innerHTML);
        var topdocentes = JSON.parse(document.getElementById('listaDocentes').innerHTML);
        var datos  = [], data = [], datos1  = [], data1 = [], datos2  = [], data2 = [], datos3  = [], data3 = [], datos4  = [],
            data4 = [], datos5 = [], label = [], color = [], datos6 = [], label1 = [], color1 = [], datos7 = [], label2 = []
            , color2 = [], datos8 = [], label3 = [], color3 = [], datos9 = [], label4 = [], color4 = [];
        $.each(tipo, function (key, value) {
            data.push(value.nombre);
            datos.push({"label":value.id,"data":data,"backgroundColor":backgroundColor[acumulador],"borderColor":borderColor[acumulador]});
            data = [];
            acumulador++;
        });
        $.each(area, function (key, value) {
            data1.push(value.nombre);
            datos1.push({"label":value.id,"data":data1,"backgroundColor":backgroundColor[acumulador1],"borderColor":borderColor[acumulador1]});
            data1 = [];
            acumulador1++;
        });
        $.each(estado, function (key, value) {
            data2.push(value.nombre);
            datos2.push({"label":value.id,"data":data2,"backgroundColor":backgroundColor[acumulador2],"borderColor":borderColor[acumulador2]});
            data2 = [];
            acumulador2++;
        });
        $.each(cobertura, function (key, value) {
            data3.push(value.nombre);
            datos3.push({"label":value.id,"data":data3,"backgroundColor":backgroundColor[acumulador3],"borderColor":borderColor[acumulador3]});
            data3 = [];
            acumulador3++;
        });
        $.each(topdocentes, function (key, value) {
            data4.push(value.nombre);
            datos4.push({"label":value.id,"data":data4,"backgroundColor":backgroundColor[acumulador4],"borderColor":borderColor[acumulador4]});
            data4 = [];
            acumulador4++;
        });
        $.each(tipo, function (key, value) {
            datos9.push(value.nombre);
            label4.push(value.id);
            color4.push(backgroundColor[acumulador9])
            acumulador9++;
        });
        $.each(area, function (key, value) {
            datos8.push(value.nombre);
            label3.push(value.id);
            color3.push(backgroundColor[acumulador8])
            acumulador8++;
        });
        $.each(estado, function (key, value) {
            datos7.push(value.nombre);
            label2.push(value.id);
            color2.push(backgroundColor[acumulador7])
            acumulador7++;
        });
        $.each(cobertura, function (key, value) {
            datos6.push(value.nombre);
            label1.push(value.id);
            color1.push(backgroundColor[acumulador6])
            acumulador6++;
        });
        $.each(topdocentes, function (key, value) {
            datos5.push(value.nombre);
            label.push(value.id);
            color.push(backgroundColor[acumulador5])
            acumulador5++;
        });
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Tipos de proyectos'],
                datasets: datos
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        var ctx1 = document.getElementById('myChart1').getContext('2d');
        var myChart1 = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: ['Áreas de proyectos'],
                datasets: datos1
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: ['Estado de proyectos'],
                datasets: datos2
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        var ctx3 = document.getElementById('myChart3').getContext('2d');
        var myChart3 = new Chart(ctx3, {
            type: 'bar',
            data: {
                labels: ['Estado de proyectos'],
                datasets: datos3
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        var ctx4 = document.getElementById('myChart4').getContext('2d');
        var myChart4 = new Chart(ctx4, {
            type: 'bar',
            data: {
                labels: ['Top 5 docentes con más proyectos'],
                datasets: datos4
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        new Chart(document.getElementById("pie-chart"), {
            type: 'pie',
            data: {
                labels: label,
                datasets: [{
                    label: "Top docentes",
                    backgroundColor: color,
                    data: datos5
                }]
            }
        });
        new Chart(document.getElementById("pie-chart1"), {
            type: 'pie',
            data: {
                labels: label4,
                datasets: [{
                    label: "Tipos de proyecto",
                    backgroundColor: color4,
                    data: datos9
                }]
            }
        });
        new Chart(document.getElementById("pie-chart2"), {
            type: 'pie',
            data: {
                labels: label3,
                datasets: [{
                    label: "Áreas de proyecto",
                    backgroundColor: color3,
                    data: datos8
                }]
            }
        });
        new Chart(document.getElementById("pie-chart3"), {
            type: 'pie',
            data: {
                labels: label2,
                datasets: [{
                    label: "Estado de proyecto",
                    backgroundColor: color2,
                    data: datos7
                }]
            }
        });
        new Chart(document.getElementById("pie-chart4"), {
            type: 'pie',
            data: {
                labels: label1,
                datasets: [{
                    label: "Cobertura de proyecto",
                    backgroundColor: color1,
                    data: datos6
                }]
            }
        });
    });
</script>
<nav th:insert="fragments/menu :: menu">
</nav>
<br/>
<p th:text="${listaproyectos}" id="listaproyectos" hidden></p>
<p th:text="${listaareas}" id="listaareas" hidden></p>
<p th:text="${listaestado}" id="listaestado" hidden></p>
<p th:text="${listacobertura}" id="listacobertura" hidden></p>
<p th:text="${listaDocentes}" id="listaDocentes" hidden></p>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active font-weight-bold" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">TOP DOCENTES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bold" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">TIPOS DE PROYECTO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bold" id="area-tab" data-toggle="tab" href="#area" role="tab" aria-controls="area" aria-selected="false">AREAS DE CONOCIMIENTO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bold" id="estado-tab" data-toggle="tab" href="#estado" role="tab" aria-controls="estado" aria-selected="false">ESTADO DEL PROYECTO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bold" id="cobertura-tab" data-toggle="tab" href="#cobertura" role="tab" aria-controls="cobertura" aria-selected="false">COBERTURA DEL PROYECTO</a>
    </li>
</ul>
<div class="tab-content p-4" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills mb-3 float-right" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><i class="fas fa-chart-bar"></i></a>
                    </li>
                    <li class="nav-item fa fa-pie-chart">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-chart-pie"></i></a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <br>
                        <h4 class="text-secondary text-center font-italic">Top docentes con más proyectos</h4>
                        <br>
                        <canvas id="myChart4" style="height:30vh; width:50vw"></canvas>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <br>
                        <h4 class="text-secondary text-center font-italic">Top docentes con más proyectos</h4>
                        <br>
                        <canvas id="pie-chart" style="height:30vh; width:50vw"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills mb-3 float-right" id="pills-tab1" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab1" data-toggle="pill" href="#pills-home1" role="tab" aria-controls="pills-home" aria-selected="true"><i class="fas fa-chart-bar"></i></a>
                    </li>
                    <li class="nav-item fa fa-pie-chart">
                        <a class="nav-link" id="pills-profile-tab1" data-toggle="pill" href="#pills-profile1" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-chart-pie"></i></a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent1">
                    <div class="tab-pane fade show active" id="pills-home1" role="tabpanel" aria-labelledby="pills-home-tab">
                        <br>
                        <h4 class="text-secondary text-center font-italic">Clasificación por tipo de proyecto</h4>
                        <br>
                        <canvas id="myChart" style="height:30vh; width:50vw"></canvas>
                    </div>
                    <div class="tab-pane fade" id="pills-profile1" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <br>
                        <h4 class="text-secondary text-center font-italic">Clasificación por tipo de proyecto</h4>
                        <br>
                        <canvas id="pie-chart1" style="height:30vh; width:50vw"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="area" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills mb-3 float-right" id="pills-tab2" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab2" data-toggle="pill" href="#pills-home2" role="tab" aria-controls="pills-home" aria-selected="true"><i class="fas fa-chart-bar"></i></a>
                    </li>
                    <li class="nav-item fa fa-pie-chart">
                        <a class="nav-link" id="pills-profile-tab2" data-toggle="pill" href="#pills-profile2" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-chart-pie"></i></a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent2">
                    <div class="tab-pane fade show active" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab">
                        <br>
                        <h4 class="text-secondary text-center font-italic">Clasificación de proyectos por Área de Conocimiento</h4>
                        <br>
                        <canvas id="myChart1" style="height:30vh; width:50vw"></canvas>
                    </div>
                    <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <br>
                        <h4 class="text-secondary text-center font-italic">Clasificación de proyectos por Área de Conocimiento</h4>
                        <br>
                        <canvas id="pie-chart2" style="height:30vh; width:50vw"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="estado" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills mb-3 float-right" id="pills-tab3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab3" data-toggle="pill" href="#pills-home3" role="tab" aria-controls="pills-home" aria-selected="true"><i class="fas fa-chart-bar"></i></a>
                    </li>
                    <li class="nav-item fa fa-pie-chart">
                        <a class="nav-link" id="pills-profile-tab3" data-toggle="pill" href="#pills-profile3" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-chart-pie"></i></a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent3">
                    <div class="tab-pane fade show active" id="pills-home3" role="tabpanel" aria-labelledby="pills-home-tab">
                        <br>
                        <h4 class="text-secondary text-center font-italic">Clasificación de proyectos por Estado</h4>
                        <br>
                        <canvas id="myChart2" style="height:30vh; width:50vw"></canvas>
                    </div>
                    <div class="tab-pane fade" id="pills-profile3" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <br>
                        <h4 class="text-secondary text-center font-italic">Clasificación de proyectos por Estado</h4>
                        <br>
                        <canvas id="pie-chart3" style="height:30vh; width:50vw"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="cobertura" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills mb-3 float-right" id="pills-tab4" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab4" data-toggle="pill" href="#pills-home4" role="tab" aria-controls="pills-home" aria-selected="true"><i class="fas fa-chart-bar"></i></a>
                    </li>
                    <li class="nav-item fa fa-pie-chart">
                        <a class="nav-link" id="pills-profile-tab4" data-toggle="pill" href="#pills-profile4" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-chart-pie"></i></a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent4">
                    <div class="tab-pane fade show active" id="pills-home4" role="tabpanel" aria-labelledby="pills-home-tab">
                        <br>
                        <h4 class="text-secondary text-center font-italic">Clasificación de proyectos por Cobertura</h4>
                        <canvas id="myChart3" style="height:30vh; width:50vw"></canvas>
                    </div>
                    <div class="tab-pane fade" id="pills-profile4" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <br>
                        <h4 class="text-secondary text-center font-italic">Clasificación de proyectos por Cobertura</h4>
                        <canvas id="pie-chart4" style="height:30vh; width:50vw"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer">
</footer>
</body>
</html>
