<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <Title>Inicio</Title>
    <base href="/">
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="webjars/font-awesome/5.14.0/css/all.css" type="text/css">
    <script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/vis/vis.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/vis/vis.min.css">
    <script type="text/javascript" src="../static/vis/vis.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <link href="../static/css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/select2.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../static/js/select2.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Plataforma Semántica UTPL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="estadisticas.html">Estadísticas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="repositorio.html">Repositorio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="nosotros.html">Nosotros</a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/usuario"><span class="fas fa-sign-in-alt"></span> Login</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="card card ml-4 mr-4">
    <div class="card-body">
        <div class="row m-0 p-0">
            <div class="col-xs-3 col-sm-3 col-md-3 col-xl-3 col-lg-3">
                <label for="listatipo"><strong>BUSCAR POR: </strong></label>
                <select class="js-example-basic-single" id="listatipo">
                    <option value="Nombre">Persona</option>
                    <option value="Persona">Redes</option>
                    <option value="Proyecto">Proyecto</option>
                    <option value="Area">Área</option>
                    <option value="TipoProyecto">Tipo de proyecto</option>
                </select>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-xl-9 col-lg-9">
                <label for="listaBusqueda"><strong id="titulobusqueda">Persona</strong></label>
                <select class="js-example-basic-single" id="listaBusqueda">
                </select>
            </div>
        </div>
    </div>
</div>
<br>
<p style="display: none" id="json" th:text="${appName}"></p>
<p style="display: none" id="json1"></p>
<div class="card ml-4 mr-4">
    <div class="card-header" id="descripcion">
        El tipo de búsqueda <b>Persona </b>permite visualizar los proyectos en los que ha intervenido un usuario.
        Si da un <b>click</b> sobre el proyecto conocerá los participantes. Si da <b>dobleclick</b> sobre el proyecto accederá a
        la información del mismo.
    </div>
    <div class="card-body m-0 p-0" style="display: none" id="card">
        <div class="row m-0 p-0">
            <div id="myleyenda" class="col-xs-2 col-sm-2 col-md-2 col-xl-2 col-lg-2"></div>
            <div id="mynetwork" class="col-xs-10 col-sm-10 col-md-10 col-xl-10 col-lg-10"></div>
        </div>
    </div>
</div>
<!-- Add an invisible <div> element to the document, to hold the JSON data: -->
<div id="networkJSON-results" class="results" style="display:none"></div>
</body>
</html>
