<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <Title></Title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/script.js"></script>
    <link href="css/estilos.css" rel="stylesheet" type="text/css" />
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Plataforma Semántica UTPL</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Inicio</a></li>
            <li><a href="#">Estadísticas</a></li>
            <li><a href="#">Repositorio</a></li>
            <li><a href="#">Nosotros</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="sel1">BUSCAR POR </label>
                <select class="form-control" id="sel1">
                    <option selected>Elija...</option>
                    <option value="Nombre">Nombre</option>
                    <option value="Proyecto">Proyecto</option>
                </select>
            </div>
        </div>
        <div class="col-lg-8">
            <form style="display: none" id="con">
                <div class="form-group">
                    <br>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Search ...">
                </div>
            </form>
        </div>
        <div class="col-lg-1">
            <form style="display: none" id="con1">
                <div class="form-group">
                    <br>
                    <button type="button" class="btn btn-primary mb-2" onclick="cargarGrafo()"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<p style="display: none" id="json" th:text="${appName}"></p>
<div id="mynetwork"></div>
<!-- Add an invisible <div> element to the document, to hold the JSON data: -->
<div id="networkJSON-results" class="results" style="display:none"></div>
</body>
</html>
